* {
    margin: 10px;
}

.center {
    text-align: center;
}

p {
    font-size: 22px
}

.left {
    float: left;
}

.right {
    float: right;
}

.button {
    margin: 11px;
    background-color: white;
    border: 2px solid #808080;
    border-radius: 5px;
    box-shadow: 0px 5px #999;
}

.button:hover {
    background-color: #c7c5c5;
}

.button:active {
    box-shadow: 0px 2px #999;
    transform: translateY(3px);
}
