* {
    text-align: center;
    font-size: 80px;
}

body, html {
	--color-tiktok-blue: rgb(111, 239, 233);
	--color-mint: rgb(197, 246, 207);
	--color-mint-dark: rgb(98, 240, 153);
	--fold-slide-duration: 1000ms;
	--fold-slide-delay: 0ms;
	--fold-duration: 1500ms;
	--fold-delay: 200ms;
}

spam.e {
    font-weight: 900;
    transition-duration: 0.5s;
}

spam.e:hover {
    text-shadow: 15px 10px rgba(255, 17, 0, 0.7), -15px 4px rgba(120, 73, 230, 0.7), 6px -18px rgba(9, 224, 74, 0.7);
}
spam.glow {
    transition-duration: 0.5s;
}

spam.glow:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fa0202, 0 0 40px #fa0202, 0 0 50px #fa0202, 0 0 60px #fa0202, 0 0 70px #fa0202;
}
