.center {
  text-align: center;
}

.play-button {
  background-color: White;
  color: Black;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 16px 32px;
  border: 2px solid Black;
  margin: 4px 2px;
}

.play-button:hover {
  background-color: Blue;
  color: white;
}
