body {
    background-color: rgb(24, 26, 27);
    padding-left: 5pt;
    padding-right: 5pt;
}

*{font-family: 'Fira Code', sans-serif;}

header>h3 {
    color: white;
    font-size: 20pt;
}

div.main {
    color: white;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(24, 26, 27);
    border-radius: 0.25rem;
}

.title {
    color: white;
}

.contents {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    color: #f9f9f9;
    margin-right: 5px;
    border-radius: 0.25rem;
    background-color: rgb(24, 26, 27)
}

pre {
    margin: 0;
}

div.contents>ol {
    color:white;
}

.code {
    background: rgb(40, 44, 52);
    border: 1px solid transparent;
    padding: 1rem 2.5rem 1rem 1rem;
    border-radius: 0.25rem;
    margin: 1rem 0 1rem;
    size: 0.833rem;
    width: auto;
}

h2 {
    margin-top: 2rem;
}

p {
    margin-bottom: 1rem;
    size: 0.833rem;
}

a {
    color: #8cb4ff;
}

a:hover {
    text-decoration: none;
}

.home {
    margin: 0 0 5px;
    font-size: 20px;
}

code {
    background-color: #343434;
    padding: .0625rem .25rem;
    border-radius: 0.25rem;
}

.end {
    display: inline;
    float: right !important;
}

.end-div {
    width: 100%;
}

span.comment {
    color: #5C6370;
}

span.int {
    color: #D19A66;
}

span.string {
    color: #98C379;
}

span.keyword {
    color: #C678DD;
}

span.function {
    color: #61AFEF;
}